RedirectMatch permanent ^/doxia/doxia-1.2/(.*)$ /doxia/doxia-archives/doxia-1.2/$1
RedirectMatch permanent ^/doxia/doxia-sitetools-1.2 /doxia/doxia-sitetools-archives/doxia-sitetools-1.2/$1
Redirect Permanent /doxia-ide/index.html  /doxia-ide.html
